<h1>
  <a href={~p"/admin/continents"}>Continents</a>
</h1>

<ul>
  <%= for continent <- @continents do %>
    <li>
      <a href={~p"/admin/continents/#{continent}"}>{continent}</a>
    </li>
  <% end %>
</ul>
